.columns
  .column_left
    .item.padding
      %table{ style: "width: 100%" }
        %tr
          %th{ width: 30 } Pozycja
          %th{ width: 16 } &nbsp;
          %th Użytkownik
          %th Punkty
        - @users.each_with_index do |user, index|
          %tr{ class: cycle("normal", "alt") }
            %td
              #{user.position+1}.
            %td= position_image(user)
            %td= link_to user.username, profile_path(id: user.id)
            %td #{user.rank} pkt.
  .column_right
    .item.padding
      %h3 Za co dostaje się punkty?
      %ol
        %li Każde unikalne udostępnienie obrazka - 1 pkt
        %li Dodanie obrazka - #{User::RankLink}pkt * ilość udostępnień
        %li Zdobycie osiągnięcia - #{User::RankBadge}pkt
        %li Każdy twój znajomy z Facebooka zarejestrowany w naszym serwisie - #{User::RankFriend}pkt
  .clear