.profile-pad
  .profile-image= image_tag("http://graph.facebook.com/#{self.current_user.fb_id}/picture")
  .profile-info
    .date 
      %b Dołączył
      = distance_of_time_in_words @user.created_at, Time.now
      temu
    %h3= @user.username
    %p Posiada #{@user.rank} punktów/0 odznak 
    %p Dodał #{@user.links.count} obrazków/#{@user.likes.count} udostępnił
  .clear
%ul.tabs
  %li= link_to "Osiągnięcia", "#"
  %li= link_to "Znajomi", "#"
  %li= link_to "Udostępnione", "#"
  %li= link_to "Dodane", "#"

- @user.achievements.each do |badge|
  %p= image_tag "/badges/#{badge.id}.png?time=#{Time.now.to_f}"