.item{ id: "item_#{link.id}" }
  .inner= render partial: link
  .action
    .like
      = link_to link_url(id: link.id), class: "facebook-share-button", data: { like: like_link_path(id: link.id) } do
        %span.fb_share_size_Small
          %span.FBConnectButton.FBConnectButton_Small
            %span.FBConnectButton_Text Wrzuć na Facebooka!
          %span.fb_share_count_nub_right
          %span.fb_share_count.fb_share_count_right
            %span.fb_share_count_inner= link.rate.to_i
    %p
      - if link.user
        #{link_to(link.user.username, profile_path(id: link.user.id))} dodał #{distance_of_time_in_words(link.publish_at, Time.now)} temu
      - else
        #{link_to("Gość", "#")} dodał #{distance_of_time_in_words(link.publish_at, Time.now)} temu
      - if link.good? && can? :accept, link
        = link_to "Na główną!", accept_link_path(id: link)
      - if can? :destroy, link
        = link_to "Usuń", link_path(id: link), method: :delete, confirm: "Czy na pewno?"
    .clear