.item{ id: "item_#{link.id}" }
  .inner= render partial: link
  .action
    .like
      .fb-like{ :data => { :href => link_url(:id => link.id), :send => "true", :layout => "button_count", "show-faces" => false, :colorscheme => "dark", :width => 200 } }
    - if link.user
      %p #{link_to(link.user.username, profile_path(id: link.user.id))} dodał #{distance_of_time_in_words(link.publish_at, Time.now)} temu
    - else
      %p #{link_to("Gość", "#")} dodał #{distance_of_time_in_words(link.publish_at, Time.now)} temu
    .clear