.item{ id: "item_#{link.id}" }
  .social
    %a.next{ href: "#" }
      = image_tag "down.png"
      %br/
      Następny
    - if can? :destroy, link
      = link_to link_path(id: link.id), method: "delete", confirm: t("link.confirm_destroy"), class: "destroy" do
        = image_tag "destroy.png"
        %br/
        Usuń
  .inner= render partial: link
  .share
    %table
      %tr
        %td
          %a.twitter-share-button{ href: "https://twitter.com/share", data: { url: link_url(:id => link.id), counturl: link_url(:id => link.id), lang: "pl", count: "horizontal" }  } Tweet
        %td
          .g-plusone{ :data => { :size => "medium", :annotation => "bubble", :href => link_url(:id => link.id) } }
        %td
          :javascript
            #{nk(link.to_opengraph.merge(type: 2, color: 1, url: link_url(id: link.id)))}
        %td
          :javascript
              gg_share_widget(#{link.to_opengraph.merge(button_type: "03", color: 1, url: link_url(id: link.id)).to_json})
        %td
          .fb-like{ :data => { :href => link_url(:id => link.id), :send => "true", :layout => "button_count", "show-faces" => false, :colorscheme => "dark" } }
