.h2 Zasoby
%table
  %tr
    %th Nazwa
    %th Całkowicie
    %th Nie przetworzonych
    %th Najnowsze
    %th Wylęgarnia
    %th Na przyszlosc
  
  - [Link, Image, Video, Game].each do |obj|
    %tr
      %td= obj.inspect
      %td= obj.count
      %td= obj.where(processed: false).count
      %td= obj.is_published.is_hot.count
      %td= obj.is_published.is_pending.count
      %td= obj.is_not_published.count

%h2
  Użytkowników: #{User.count}
%h2
  Botów: #{User.is_bot.count}
