= link_to link_path(id: image.id), class: "image", data: { img: image.gif? ? image.file.url : image.file.url(:thumb) }, style: "width: #{image.width}px; height: #{image.height}px" do
  = image_tag "blank.gif", alt: image.description, style: "width: #{image.width}px; height: #{image.height}px"