.inner
  .column
    %h4 #{t("title")} #{[2012, Time.now.year].uniq.join("/")}
    %p= link_to "Regulamin", agreements_pages_path
    %p= link_to "Kontakt", "#"
    %p= link_to "Reklama", "#"
    %p= link_to "Osiągnięcia", "#"
  .column
    .fb-like-box{ :data => { :href => Facebook::CONFIG["fanpage"], :width => 370, :colorscheme => "dark", "show-faces" => "true", :stream => "false", :header => "false" } }
  .clear