!!!
%html{ itemscope: true, itemtype: "http://schema.org/Article" }
  %head
    %title #{t("title")} - #{t('summary')}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/x-icon" }/
    = csrf_meta_tags
    = yield :head
  %body{ :id => "controller_#{controller.controller_name}_#{controller.action_name}" }
    - if notice
      .modal-backdrop
      .modal.fade
        .modal-body
          %p= notice
          = link_to "Zamknij", "#", class: "btn"
    .uploader
      .inner= render 'links/form'
    .wrapper
      %ul.nav
        %li= link_to 'Dodaj obrazek', new_link_path, id: "add_image", class: "btn"
        - if logged_in?
          %li.pull-left= link_to(image_tag("http://graph.facebook.com/#{self.current_user.fb_id}/picture"), "#", class: "btn")
          %li.pull-left.profile
            %p= self.current_user.username
            - if can? :manage, User
              %p= link_to "Użytkownicy", users_path
              %p= link_to "Workery", workers_path
            - if can? :read, :stats
              %p= link_to "Statystyki", stats_links_path
            %p= link_to "Wyloguj się", logout_path
        - else
          %li.pull-left= link_to(image_tag("facebook-login-button.png"), login_path, class: "btn")
      .clear
      .header
        %h1
          = link_to t("title"), root_url
          %small - #{t('summary')}
        %ul.tabs
          %li= link_to "Najnowsze", root_path, class: @tab == :newest ? "selected" : nil
          %li= link_to "Najpopularniejsze", popular_links_path, class: @tab == :popular ? "selected" : nil
          %li= link_to "Wylęgarnia", pending_links_path, id: "pending_link", class: @tab == :pending ? "selected" : nil
        .clear
      = yield
      .clear
    .footer= render 'layouts/footer'
    %div{ style: "display:none" }
      = image_tag "blank.gif", id: "blank_image"
    = render partial: "layouts/facebook"
    = render partial: "layouts/googleplus"


